<header>
  <h1>cs-course</h1>
  <p>Curso general de Visual C# .NET</p>

  <p class="view"><a href="https://github.com/migsalazar/cs-course">View the Project on GitHub <small>migsalazar/cs-course</small></a></p>


  <ul>
	<li><a href="https://github.com/migsalazar/cs-course/zipball/master">Download <strong>ZIP File</strong></a></li>
	<li><a href="https://github.com/migsalazar/cs-course/tarball/master">Download <strong>TAR Ball</strong></a></li>
	<li><a href="https://github.com/migsalazar/cs-course">View On <strong>GitHub</strong></a></li>
  </ul>
</header>
